<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-shop</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    
</head>
    <body >
        <nav class="bg-color-3 d-flex justify-around p-1">
            <ul class="list-style-none d-flex align-center justify-center">
                <li>
                    <a class="image-highlight">
                        <img src="book.gif" alt="bookshop-logo">
                        <span class="color-white ">BOOKS COLLECTIONS</span>
                    </a>
                </li>
                <li class="pl-2 d-none visible-in-md">
                <form action="" methods="POST">
                    <a href="/">
                        <img src="home-run.svg" alt="home-logo" class="navbar-icon">
                        <span class="color-1 white-highlight">HOME</span>
                    </a>
                </form>
                </li>
                <li class="pl-2 d-none visible-in-md">
                    <a href="collection">
                        <img src="bookshelf.svg" alt="collection-logo" class="navbar-icon">
                        <span class="color-2 pl-1 white-highlight">COLLECTIONS</span>
                    </a>
                </li>
                <li class="pl-2">
                    <a href="#">
                        <img src="supermarket.svg" alt="cart-logo" class="navbar-icon">
                        <span
                            class="color-2 pl-1 white-highlight d-none visible-in-md">ABOUT US
                        </span>
                    </a>
                </li>
                <li class="pl-2">
                    <a href="contactus">
                        <img src="supermarket.svg" alt="cart-logo" class="navbar-icon">
                        <span
                            class="color-2 font-size-sm pl-1 white-highlight d-none visible-in-md">CONTACT US
                        </span>
                    </a>
                </li>	
                </ul>
                <form action="/sign_in" methods="POST">
                    <ul class="list-style-none d-flex justify-around align-center user-info">
                        <li class="d-none visible-in-lg">
                            <a href="sign_in">
                                <span class="color-white gray-highlight" value="sign_in">LOGIN / SIGNUP</span>
                            </a>
                        </li>
                </form>
                <li>
                    <a href="sign_up.html">
                        <img src="person.svg" alt="user-img" class="image-highlight pl-1">
                    </a>
                </li>
                <li class="pl-1">
                    <a href="search.html" class="search-btn default-btn bg-color-1">Search</a>
                </li>
                </ul>
        </nav>
        <div align="center">
            <br>
            <br>
            <br>
            <br>
            <h1 style="color:blue;font-size:50px;">____ABOUT US____</h1>
            <p style="color:rgb(6, 6, 6);font-size:30px;">
            Design a user friendly application allowing customers to<br>
            search books of their taste emphasizing user's needs and<br>
            priority based recommendations. This project primarily<br>
            based on the concept of recommendation system as its<br>
            major concept used for providing proper personalized<br>
            suggestions to the targeted user.
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            </p>
        </div>
    </body>
</html>