<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-shop</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        table, td, th {  
        border: 5px solid rgb(14, 13, 13);
        text-align: left;
        background-image:url(background1.jpg);
        background-size:cover;
        }

        table {
        border-collapse: collapse;
        width:90%;
        }

        th, td {
        padding: 15px;
        }
    .checked {
            color: rgb(233, 60, 60);
        }
    </style>
</head>

    <body>
        <nav class="bg-color-3 d-flex justify-around p-1">
            <ul class="list-style-none d-flex align-center justify-center">
                <li>
                    <a class="image-highlight">
                        <img src="book.gif" alt="bookshop-logo">
                        <span class="color-white ">BOOKS COLLECTIONS</span>
                    </a>
                </li>
                <li class="pl-2 d-none visible-in-md">
                <form action="" methods="POST">
                    <a href="/">
                        <img src="home-run.svg" alt="home-logo" class="navbar-icon">
                        <span class="color-1 white-highlight">HOME</span>
                    </a>
                </form>
                </li>
                <li class="pl-2 d-none visible-in-md">
                    <a href="collection">
                        <img src="bookshelf.svg" alt="collection-logo" class="navbar-icon">
                        <span class="color-2 pl-1 white-highlight">COLLECTIONS</span>
                    </a>
                </li>
                <li class="pl-2">
                    <a href="aboutus">
                        <img src="supermarket.svg" alt="cart-logo" class="navbar-icon">
                        <span
                            class="color-2 pl-1 white-highlight d-none visible-in-md">ABOUT US
                        </span>
                    </a>
                </li>
                <li class="pl-2">
                    <a href="contactus">
                        <img src="supermarket.svg" alt="cart-logo" class="navbar-icon">
                        <span
                            class="color-2 font-size-sm pl-1 white-highlight d-none visible-in-md">CONTACT US
                        </span>
                    </a>
                </li>	
            </ul>
               
                <li class="pl-1">
                    <a href="search.html" class="search-btn default-btn bg-color-1">Search</a>
                </li>
            </ul>
        </nav>
        <div align="center">
            <h1>TOP 5 BOOKS</h1>
        </div>
        <div align="center">
            <table border="10px">
				<tr style=font-size:20px>
				{% for row in lis1 %}
				  		<th width="200px">{{row}}</th>
				{% endfor %}
				</tr>
				{% for row in n2 %}
				<tr style=font-size:15px >
					{% for i in range(0,6) %}
						{% if i==0 %}
							<td><img src="{{row[i]}}" alt="cheeta" width="250" height="250"></td>
                        {% elif i==4 %}
                            {% if row[i] == "1" %}
                                 <td><span class="fa fa-star checked"></span></td>
                            {% elif row[i] == "2" %}
                                 <td>
                                     <span class="fa fa-star checked"></span>
                                     <span class="fa fa-star checked"></span>
                                </td>
                            {% elif row[i] == "3" %}
                                 <td>
                                     <span class="fa fa-star checked"></span>
                                     <span class="fa fa-star checked"></span>
                                     <span class="fa fa-star checked"></span>
                                </td>
                            {% elif row[i] == "4" %}
                                 <td>
                                     <span class="fa fa-star checked"></span>
                                     <span class="fa fa-star checked"></span>
                                     <span class="fa fa-star checked"></span>
                                     <span class="fa fa-star checked"></span>
                                </td>
                            {% elif row[i] == "5" %}
                                 <td>
                                     <span class="fa fa-star checked"></span>
                                     <span class="fa fa-star checked"></span>
                                     <span class="fa fa-star checked"></span>
                                     <span class="fa fa-star checked"></span>
                                     <span class="fa fa-star checked"></span>
                                </td>
                            {% else %} 
                                 <td width="100px" height="50px">{{row[i]}}</td>
                            {% endif %}  

                        {% elif i==5 %} 
                            <td width="100px" height="50px"><form action="rating"><button type="submit">Click to Rate</button></form></td>
					 	{% else %} 
					 		<td width="100px" height="50px">{{row[i]}}</td>
				 		{% endif %}
						
					{% endfor %}
				</tr>
				{% endfor %}
		</table>
	
        </div>
    <!--</section>
        <section class="border">
            <h2 class="d-none">This is hidden</h2>
            <div class="copyright-section p-1 mx-auto d-flex justify-between align-center">
                <p class="font-size-sm font-style-1 color-2">Copyright&copy; 2020 bookshop.com. All rights reserved. Created by Ershadul Hakim Rayhan. Design idea by Mohammed Awad.</p>
                <ul class="list-style-none d-flex">
                    <li><img src="twitter.svg" alt="twitter-logo" class="d-block category-heading-icons pointer ml-half"></li>
                    <li><img src="google.svg" alt="google-logo" class="d-block category-heading-icons pointer ml-half"></li>
                    <li><img src="facebook.svg" alt="facebook-logo" class="d-block category-heading-icons pointer ml-half"></li>
                    <li><img src="linkedin.svg" alt="linkedin-logo" class="d-block category-heading-icons pointer ml-half"></li>
                </ul>
            </div>
        </section>-->
    </footer>
</body>

</html>